@import "../utils/color.css";
@import "../utils/footer.css";
@import "../utils/a.css";

body{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--jet);
    line-height: 1;
    overflow: hidden;
    vertical-align: baseline; }

h1 {
    font-size: 64px;
    line-height: 3rem; }

header {
    margin: 2% auto;
    width: 90%;
    height: 25px;
    display: flex; }

header .header_link {
    align-self: flex-end;
    margin-left: 50px;
    height: auto;
    border-bottom: 0px; }
    
.push-right {
    margin-left: auto !important; }

.padding {
    padding-bottom: 150px; }

#text{
    color: var(--lemonMeringue);
    align-self: center;
    padding-left: 7%;
    line-height: 64px;
    font-size: 64px;
    margin-top: 150px; }

@media all and (max-width: 599px) {

    #text h1 {
        font-size: 2rem;
        line-height: 3rem; } }
      
@media all and (min-width: 600px) and (max-width: 1000px) {
    #text h1 {
        font-size: 2.5rem;
        line-height: 3.75rem; } }
      
@media all and (min-width: 1001px) {
    #text h1 {
        font-size: 3.5rem;
        line-height: 5rem; } }