:root {
    --jet : #292929;
    --lavenderWeb : #E6E2F3;
    --frenchLilac : #78668F;
    --lemonMeringue : #FDF0C4;
    --naplesYellow : #F9DB6D;
}

.project{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    width: 98vw;
    height: 98vh;
    align-items: center;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    overflow-x: hidden;}

.project > div{
    scroll-snap-align: center;
    width: 99vw;
    height: 100%;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}

.project .title{
    border: solid var(--naplesYellow);
    width: 99vw;
    height: 100%;
    background-color: var(--naplesYellow);
}

.project p{
    color: var(--naplesYellow);
    font-size: larger;
}

.project .title p{
    color: var(--jet);
    font-size: larger;
}