body{
    display: flex;
    background-color: whitesmoke;
    margin: 0px;
}
nav{
    position: fixed;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    height:100vh;
    width: 15vw;
    background-color: darkslateblue;
    border: solid;
    border-color: darkslateblue; 
  
}

.Partie1,.Partie2{
    display: flex;
    margin-left: 18vw;
    margin-top: 5vh;
    width: 77vw;
    height: 31vh;
    font-size: larger ;
    flex-direction: column;
    align-items: center;
}

.Partie1 p,.Partie2 p{
    width: 65vh;
    text-align: justify;
}
.titre{
    display: block;
    height: 12vh;
    justify-content: center;
    align-items: center;
}

.titre_partie{
    margin-left: 14vw;
    display: inline-flex;
    background-color: rgb(149, 139, 219);
    height: 12vh;
    width: 85vw;
    align-items: center;
    justify-content: center;
    color: whitesmoke;

}

.retext{ height: 86vh;margin-top: 0px;}

.description{
    display: flex;
    margin-left: 18vw;
    margin-top: 5vh;
    width: 77vw;
    height: 63vh;
    flex-direction: column;
    align-items: center;
}

.description p{
    width: 65vh;
    text-align:justify;
    font-size: larger;
}

.description img{
    margin-top: 10vh;
    width: 10vw;
    height: 20vh;
    text-align:justify;
}

.description div{
    display: inline;
}

.Special img{
    width: 15vw;
    height: 18vh;
}

.PDF{
    display: flex;
    margin-left: 18vw;
    margin-top: 5vh;
    width: 77vw;
    justify-content: center;
    align-items: center;
}

.PDF p{
    width: 50vh;
    text-align: center;
    font-size: larger;
}

.PDF a{
    text-decoration: none;
    color:rgb(149, 139, 219); 
    font-size: larger;
}

u{
    font-size: larger;
    text-decoration-color: rgb(149, 139, 219); 
    text-decoration-style: double;
}

nav h2{color: whitesmoke; padding-top: 40px;}

nav h1{
    color: whitesmoke;
}

#MENU ul{
    margin: 0; padding: 0; list-style-type: none ; width: 12vw;
   } 

#MENU li a{ 
    margin: 0;
   display: block; width: 9vw; color: whitesmoke; text-decoration: none; padding: 1vh; 
   } 

#MENU li a:hover{
   color: #FFD700; 
} 

nav figure img{
    width: 10vw;
    border-radius: 20%;
}

section{
    clear: both; 
 } 

 #MENU li:hover ul{
 display: block;
 }
 
 #MENU ul li {
     float: none;
 }


