:root {
    --jet : #292929;
    --lavenderWeb : #E6E2F3;
    --frenchLilac : #78668F;
    --lemonMeringue : #FDF0C4;
    --naplesYellow : #F9DB6D;
}

body{
    display: flex;
    margin-left: 1vw;
    flex-direction: column;
    background-color: var(--jet);
    overflow-y: hidden;
}

header{display: flex; 
       color: var(--jet);
       position: fixed;
       flex-direction: row;
       align-items: center; 
       width: 50vw; 
       height: 5vh;
       border-radius: 30px 30px 30px 30px; 
       margin-left: 24vw; background-color: var(--naplesYellow);}

.menu{display: flex; 
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center; 
      border-radius: 30px 30px 30px 30px;}

.menu:hover a{
      display: flex;
      background-color: var(--naplesYellow);
      height: 100%;
      width: 100%;
      color: var(--lemonMeringue);
      justify-content: center;
      align-items: center; 
      text-decoration: solid;
      border-radius: 15px 15px 15px 15px;
    }

.menu a{
    text-decoration: none;
    color: var(--jet);
}

nav{width: 3vW; 
    height: 26vh;
    position: fixed;     
    display:flex ;
    flex-direction: column;
    align-items: center;
    bottom: 0vh;
    left: 2vw;
   }

.git{width: 80%;
     height: 73%; 
     margin-bottom: 15%;
     margin-left: 7.6%;
}

.mail{width: 80%;
      height: 80%; 
      margin-left: 7.6%;
      margin-bottom: 15%;
}

.linkedin{width: 80%;
          height: 73%; 
          margin-left: 7.6%;
          margin-bottom: 15%;
}

nav div{
    display: flex;
    background-color: var(--lemonMeringue);
    width: 3.5%;
    height: 27%;
}

.button_up{
    top: 8vh;
    left: 49vw;
    position: fixed;
}

.button_up img{
    height: 30%;
    width: 30%;
    opacity: 0.2;
}

.button_up img:hover{
    opacity: 1;
}

.button_down{
    bottom: 3vh;
    left: 49vw;
    position: fixed;
}

.button_down img{
    height: 30%;
    width: 30%;
    opacity: 0.2;
}

.button_down img:hover{
    opacity: 1;
}

.button_right{
    bottom: 46vh;
    right: -2vw;
    position: fixed;
}

.button_right img{
    height: 30%;
    width: 30%;
    opacity: 0.2;
}

.button_right img:hover{
    opacity: 1;
}

.button_left{
    bottom: 46vh;
    left: 2vw;
    position: fixed;
}

.button_left img{
    height: 30%;
    width: 30%;
    opacity: 0.2;
}

.button_left img:hover{
    opacity: 1;
}
