@import "../../utils/color.css";
@import "../../utils/footer.css";
@import "../../utils/a.css";

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background-color: var(--jet);
    line-height: 1;
    font: inherit;
    overflow: hidden;
    vertical-align: baseline; }
    
    header {
        width: 100%;
        height: 7%;
        position: absolute;
        top: 0px; }
    
    header nav {
            width: 90%;
            max-width: 750px;
            border-bottom: solid var(--lemonMeringue) 1px;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: center; }
    
    header nav div {
            width: 33%;
            max-width: 180px;
            align-self: center;
            text-align: center; }
    
    header nav div .category{
        color: var(--naplesYellow);
        width: auto;}
    
    .isActive{
        border: solid 1px var(--lemonMeringue);
        color: var(--lemonMeringue);
        border-radius: 25px;
        font-weight: bold;
    }

    header nav div .category:hover{
        background-color: var(--lemonMeringue);
        border: solid 1px var(--lemonMeringue);
        color: var(--jet);
        border-radius: 25px;
        transition: background 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
        cursor: pointer;
    }

    .projects{
        display: flex;
        margin-top: 3.2%;
        width: 99.7%;
        height: 85vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        size: 0px;
        color: transparent;
    }

    .project{
        margin-left: 1.15%;
        margin-top: 1.2%;
        width: 15%;
        height: 45.5%;
        border: solid 1px var(--lemonMeringue);
        background-color: var(--jet);
        transition: all 0.5s;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project:hover{
        transform: scale(1.05);
        cursor: pointer;
    }

    .picture{
        width: 100%;
        height: 85%;
    }
  
    .picture img{
        height: 100%;
        width: 100%;
    }

    .pTitle{
        display: flex;
        width: 100%;
        height: 15%;
        justify-content: center;
        align-items: center;
        background-color: var(--lemonMeringue);
    }

    .pTitle p{
        color: var(--jet);
    }

    .none{
        display: none;
    }
